.wa_style_je4aafa84t19jc
{
	font-family: Oleo Script, Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
	font-size: 30px;
	text-align: center;
}

.wa_style_je4aafa84t1bm0
{
	font-family: Oleo Script, Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
	font-size: 20px;
	text-align: center;
}

.wa_style_je4aafa84t1bbc
{
	font-family: Raleway, Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
	font-size: 16px;
	text-align: center;
}

